<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="containers">
    <header><%- include('../partials/header'); %></header>

    <main>About</main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
