<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="containers">
    <header><%- include('../partials/header'); %></header>

    <main>
      <h1>Servers Running....<span class="server-status" type="up"></span></h1>
      <section>
        <aside></aside>
        <aside></aside>
        <article>
          <span></span><span></span><span></span>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>0A</li>
          </ul>
        </article>
        <article>
          <span></span><span></span><span></span>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>0B</li>
          </ul>
        </article>
        <article>
          <span></span><span></span><span></span>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>0C</li>
          </ul>
        </article>
        <article>
          <span></span><span></span><span></span>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>0D</li>
          </ul>
        </article>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
