<!DOCTYPE html> 
<html> 
<head> 
    <title>Rubel Auto - Error </title> 
</head> 
<body> 
  
    <!-- For loop demo -->
    {{!-- {{#each array}}  
      <h4>{{this}}</h4> 
    {{/each}}  --}}
    <h4>{{message}}</h4> 
    
</body> 
</html>